<div class="container">
  <div>
    <h1 class="margin-base-vertical">New Group</h1>
  </div>
  <div class="row pageforms">
      <form role="form" ng-submit="vm.createGroup()">
        <div class="row">
            <input ng-model="vm.formData.name" type="text" placeholder="New Group's Name" class="form-control">
            <input ng-model="vm.formData.description" type="text" placeholder="New Group's Description" class="form-control">
            <input ng-model="vm.formData.bet" type="number" placeholder="Buy-In Price" class="form-control">
            <input ng-model="vm.formData.start" type="date" placeholder="Start Date" class="form-control">
            <input ng-model="vm.formData.end" type="date" placehodler="End Date" class="form-control">
            <input type="submit" class="btn btn-primary" value="Create Group">
            <a href="/group" class="btn btn-default">Cancel</a>
        </div>
      </form>
  </div>
</div>
