<div class="container">
<div ng-init="vm.showGroup(vm.group_id)">
  <h1>{{ vm.group.name }}</h1>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-10">
              {{vm.startdate}} to {{vm.enddate}} - ${{vm.group.bet}} Bet
            </div>

              <!-- Update Group Button -->
                <a id="update-button" href="/group/updateGroup?group_id={{vm.group._id}}">
                <button class="btn btn-info">
                <div class="glyphicon glyphicon-pencil small-glyph"></div>
                </button>
                </a>

              <button ng-controller="DeleteGroupCtrl as delete" class="btn btn-danger" ng-click="delete.deleteGroup(vm.group._id)">
                <div class="glyphicon glyphicon-remove small-glyph"></div>
              </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{vm.group.description}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="days">
              {{vm.elapsedday}} / {{vm.totaldays}}
            </div>
          </div>
          <div class="col-md-12 text-center">
              Days Elapsed
          </div>
        </div>
      </div>
    </div>

   <div ng-init="vm.moneyOwed(vm.group_id)"> 
    <div class="col-xs-4">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="days" ng-if="vm.daysAhead">
              {{vm.daysAhead}}
              <div class="col-md-12 text-center">
                  Days Ahead
              </div>
            </div>
            <div class="days" ng-if="vm.daysBehind">
              {{vm.daysBehind}}
              <div class="col-md-12 text-center">
                  Days Behind
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-xs-4">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="days">
              ${{vm.youOwe}}
            </div>
          </div>
          <div class="col-md-12 text-center">
              Owed
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Days Exercised</h3>
  <hr>
  <div class="row" ng-repeat="member in vm.members | orderBy: 'member.exercises.length' : true">
    <div class="col-xs-10" >
      <div>
        <p>{{member.name}}</p>
      </div>
    </div>
    <div class="col-xs-2">
      <p>{{member.exercises.length}}</p>
    </div>
  </div>

  <h3>The Pot</h3>
  <hr>
  <div class="row">
    <div class="col-xs-10" >
      <div ng-repeat="member in vm.group._members">
        <div>
          <p>{{member.name}}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      {{vm.pot}}
    </div>
  </div>
</div>
