html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0 0 60px;
}
.loggedDates{
  font-size: 1.15em;

}
.footer {
  bottom: 0;
  margin-top: 2px;
  width: 100%;
  height: 60px;
  background: #222222;
  text-align: center;
  color: #337ab7;
  position: absolute;
}

.margin-base-vertical {
  margin: 40px 0;
  text-align: center;
}

.nav-tabs {
  border-bottom: none;
}

#noLogs{
  color: tomato;
  font-weight: bold;
  display: none;
  width: 80%;
  margin: 2px;
}


#slides_control > div {
  height: 700px;
}

#slides_control > img {
  margin: auto;
  width: 500px;
}

#slides_control {
  width: 700px;
  top: 20px;
  margin: 0px auto;
}

.form-control {
  margin-bottom: 4px !important;
}

@media screen and (max-width: 380px) {
  .reponsive-font-size {
    font-size: medium;
  }
  /*.glyph-title-font-size{
    font-size: 123%;
  }*/
}

.large-glyph {
  font-size: 500%;
}

.glyph-title {
  font-size: 200%;
}

.control-button {
  clear: both;
  display: flex;
  align-items: center;
}

#update-button{
  text-decoration: none;
}

.days {
  font-weight: bold;
  font-size: 300%;
}

#sentInvite {
  background-color: #dff0d8 ;
  border-color: #d6e9c6 ;
  color: #3c763d ;
  font-weight: bold;
  display: none;
  width: 80%;
  margin: 2px;
}