body {
  font-family: sans-serif;
}

.margin-base-vertical {
  margin: 40px 0;
  text-align: center;
}

.nav-tabs {
  border-bottom: none;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.footer {
  height: 70px;
  text-align: center;
}

.large-glyph {
  font-size: 500%;
}

.glyph-title {
  font-size: 200%;
}

.control-button {
  clear: both;
  display: flex;
  align-items: center;
}

#update-button{
  text-decoration: none;
}

.days {
  font-weight: bold;
  font-size: 300%;
}

#sentInvite {
  background-color: #dff0d8 ;
  border-color: #d6e9c6 ;
  color: #3c763d ;
  font-weight: bold;
  display: none;
  width: 80%;
  margin: 2px;
}