<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="margin-base-vertical">Eggercise</h1>

      <p>Welcome to the worst -- or perhaps best -- experience of your life.</p>

      <p>Eggercise lets you compete against friends to see who can exercise the most! Money's on the line, so get yo' ass to the gym!</p>

      <p><a href="/signup">Signup</a> or <a href="/login">Login</a> now.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="slider">
        <div id="mask">
        <ul>
          <li id="first" class="firstanimation">
            <img src="../assets/images/MyGroups.png" alt="My Groups">
            <div class="tooltip"> <h1>My Groups</h1>
            </div>
          </li>
          <li id="second" class="secondanimation">
            <img src="../assets/images/singleGroupPage.png" alt="Single Group">
            <div class="tooltip"> <h1>Single Group</h1>
            </div>
          </li>
          <li id="third" class="thirdanimation">
            <img src="../assets/images/logsPage.png" alt="Logs Page">
            <div class="tooltip"> <h1>Logs Page</h1>
            </div>
          </li>
        </ul>
        </div>
        <div class="progress-bar">
        </div>
      </div>
    </div>
  </div>
</div>

