<div class="container landing-page">
  <div ng-init="vm.getInvite(vm.invite_id)">
    <div class="landingpage">
      <div class="headline">
        <h1 class="margin-base-vertical">Accept Invite</h1>

        <p class="landingtext">Welcome to the worst -- or perhaps best -- experience of your life.</p>

        <p class="landingtext">Eggercise lets you compete against friends to see who can exercise the most! Money's on the line, so get yo' ass to the gym!</p>

        <p> You have been invited to join:</p>
        <p> Group Name: {{ vm.invite._group.name }}</p>
        <p> Email Address: {{ vm.invite.email }} </p>

        <p>New to Eggercise?<a href="/"> Register Here </a></p>
        <p>Already have an account?<a href="/login"> Login here </a></p>
      </div>
    </div>
  </div>
</div>
