<div class="container">
  <div ng-init="vm.getInvite(vm.invite_id)">
    <div class="landingpage">
      <div class="headline">
        <h1 class="margin-base-vertical">Accept Invite</h1>

        <p class="landingtext">Welcome to the worst -- or perhaps best -- experience of your life.</p>

        <p class="landingtext">Eggercise lets you compete against friends to see who can exercise the most! Money's on the line, so get yo' ass to the gym!</p>

        <p> You have been invited to join:</p>

        <div class="pageforms modifyWidth">
          <form class="form-signin" ng-controller="AcceptInviteCtrl as acceptInvite" ng-submit="acceptInvite.acceptInvite(vm.invite.inviteId)">
            <p> Group Name: {{ vm.invite._group.name }} </p>
            <p> Email Address: {{ vm.invite.email }} </p>
            <label for="inputName" class="sr-only">Name</label>
            <input type="name" id="inputName" ng-model="acceptInvite.user.name" class="form-control" placeholder="Name" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" ng-model="acceptInvite.user.password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block signupbtn" type="submit">Register</button>
          </form>
          <p>Already have an account?<a href="/login">Login here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
